
body {
  background: #fff;
  color: rgba(255, 255, 255, 0.4);
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300; }
  .site-hero {
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
    .site-hero, .site-hero .row {
      height: 100vh;
      min-height: 800px; }
    .site-hero:before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); }
    .site-hero h1 {
      font-weight: 200;
      margin-bottom: 20px;
      display: block; }
      .site-hero h1 strong {
        font-weight: 800; }
      @media (min-width: 768px) {
        .site-hero h1 {
          font-size: 70px; } }
    .site-hero h1, .site-hero .lead {
      font-weight: 200;
      color: #fff; }
    .site-hero .lead {
      line-height: 2; }
    .site-hero .site-subheading {
      max-width: 640px;
      margin: 0 auto;
      color: rgba(77, 77, 77, 0.5); }
      .column {
        width:32%;
        background-color:rgb(66, 66, 66);
        border-radius: 15px;
        padding:10px;
        color:white;
      }
      h4{
        font-weight: bolder;
      }
      .column1 {
        float: left;
        width: 25%;
        padding: 0 10px;
      }
      
      .row1 {margin: 0 -5px;}
      
      .row1:after {
        content: "";
        display: table;
        clear: both;
      }
      
      @media screen and (max-width: 600px) {
        .column1 {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color:rgba(104, 104, 104, 0.986);
        color:white;
        height:150px;
      }
      .h
      {
        font-family: cursive;
        font-weight: bolder;
        background-color:rgb(114, 111, 111);
        margin:5px;
      }
      #intro
      {
        color:white;
        font-weight:bolder;
        text-align:center;
        background-color:rgb(58, 58, 58);
        width:100%;
        margin:auto;
        padding:10px;
      }
      a{
        text-decoration: none;
        color: inherit;
      }
      .b{
        background-color: rgb(75, 75, 75);
        color:white;
      }
      .b:hover{
        background-color: rgb(0, 124, 37);
        color:white;
        font-weight:bolder;
        text-decoration: none;
      }
      .foot{
        background-color: rgb(51, 51, 51);
      }
