body {
  justify-content: center;
  align-items: center;
  background: #121214;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.progress {
    margin-top:200px;
  background: #f5f3ea;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  border-radius: 100px;
  background: #29d9d5;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

h1 {
    color: white;
}